<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:url var="getMetrics"
		value="/companymetrics/getRequired/${companyId}/${year}/${quarter}"></spring:url>
	<spring:url var="saveMetrics" value="/companymetrics/save"></spring:url>
	
	<spring:url var="x" value="/companymetrics/3/2012/1"></spring:url>



	<script type="text/javascript">
		<![CDATA[

		function metricValue(data) {
			this.amount = data.amount;
			this.year = data.year;
			this.quarter = data.quarter;
			this.metricName = data.metric.name;
			this.companyId = data.company.id;
			this.metricId = data.metric.id;
			this.id = data.id;

		}

		function MetricValuesViewModel() {

			//Data
			var self = this;
			self.metrics = ko.observableArray([]);

			//Get Data

			$.getJSON('${getMetrics}',

			function(allData) {
				var mappedMetrics = $.map(allData, function(item) {
					return new metricValue(item);
				});

				self.metrics(mappedMetrics);
			});

			self.save = function() {
				//$.ajax("${saveMetrics}", {
				$.ajax({
					url : "${saveMetrics}",
					data : ko.toJSON(self.metrics),
					type : "post",
					contentType : "application/json",
					success: function(result) { 
						if(result.redirect){
							window.location.href = "${x}";
						}
					
					},
					error : function(result) {
						alert('whoops');
					}
				});

			};

		}

		$(document).ready(function() {

			ko.applyBindings(new MetricValuesViewModel());

		});

		]]>
	</script>

	<div data-bind="foreach: metrics">

		<div>

			<label data-bind="text: metricName"
				style="display: block; width: 200px;"> <!-- BOUND -->
			</label> 
			
			<input data-bind="value: amount"></input> <br /> <br />
		</div>
	</div>

	<button data-bind="click: save">Save</button>

</div>