<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
   xmlns:spring="http://www.springframework.org/tags"
   xmlns:fn="http://java.sun.com/jsp/jstl/functions"	
   xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
   xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0"
   xmlns:c="http://java.sun.com/jsp/jstl/core" style="width:230px;">
   <jsp:directive.page contentType="text/html;charset=UTF-8" />
   <jsp:output omit-xml-declaration="yes" />
	
   <spring:url var="divline" value="/resources/images/divline.png" />	

      <c:if test="${messages.size()>0 }">

         <h3>Messages</h3>
			
			<c:forEach var="message" items="${messages }">
		   	  <spring:url var="sendersCDFI" value="/cdfi/${message.sender.company.id }"/>
			  <c:if test="${message.sender.company.investor}">
                 <spring:url var="sendersCDFI" value="/subscriber/${message.sender.company.id }"/>			  
			  </c:if>
			  
              <b>From ${message.sender.firstName} ${message.sender.lastName}<c:if test="${person.admin}">,
			   <a href="${sendersCDFI}">${message.sender.company.name}</a></c:if>
		      </b><br/>	  
			  
			  <fmt:formatDate pattern="MMMMM dd, yyyy" value="${message.sent}" /> at <fmt:formatDate pattern="h:mm a" value="${message.sent}" /><br/>
			  ${message.text }<br/><br/>
			</c:forEach>
			<center><img src="${divline }"/></center>
		</c:if>

</div>