<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:tiles="http://tiles.apache.org/tags-tiles" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/>
    <br/>
    <page:show id="ps_com_cars_platform_domain_MetricCategory" object="${metriccategory}" path="/metriccategories" z="u1o1Z+JJAlK6EBjlzlwQH2j27ik=">
        <field:display field="name" id="s_com_cars_platform_domain_MetricCategory_name" object="${metriccategory}" z="uxtAqw2ftOmcYLmv1AUMtCSBc1E="/>
        <field:display field="parent" id="s_com_cars_platform_domain_MetricCategory_parent" object="${metriccategory}" z="OEWH/vZ6tO88uuToF7bZBtCADDs="/>
        <field:display field="accountCode" id="s_com_cars_platform_domain_MetricCategory_accountCode" object="${metriccategory}" z="cS0HjVXy+nl8jBq+Fnrk2ZgN9mk="/>
    </page:show>
</div>
