<html xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" >  
	
	<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />
	
	<jsp:directive.page contentType="text/html;charset=UTF-8" />  
	<jsp:directive.page pageEncoding="UTF-8" /> 	
	
	<spring:url var="logo" value="/resources/images/AERIS_CLOUD_LOGO_REV.png" />
	
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />		
		<util:load-scripts />
		<spring:message code="application_name" var="app_name" htmlEscape="false"/>
		<title><spring:message code="welcome_h3" arguments="${app_name}" /></title>	
	  <style>
    label{
      font-size: 14px;
      text-align:center;
      color:#11859A; 
      font-weight: bold; 
      margin-left:140px; 
      text-transform:uppercase;
    }
    
    .helptext a{
      font-size: 14px;
      text-decoration: none;
    }
		
    .helptext a:hover{
      text-decoration: underline;
    }

    .footertext{
      font-family: 'Nunito', sans-serif;
      font-size: 11px;
      color: #cccccc;
    }
	
    .footertext a{
      font-size: 11px;
      color: #99ccff;
    }
	
	.footertext a:hover{
      font-size: 11px;
      color: #cee7ff;
    }			
		

    
    .loginButton:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4b9440), color-stop(1, #72c266) );	
      background:-moz-linear-gradient( center top, #4b9440 5%, #72c266 100% );	
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=’#4b9440’, endColorstr=’#72c266’);
	  background-color:#4b9440;
    }
    
    .loginButton:active {
	  position:relative;
	  top:1px;
    }

    input{
      background-color:#ffffff;
    }

  </style>	
		
		
	</head>
	
  	<body>
  	
  <div style="background-color:#484848;padding:30px;width:550px;align:center;margin-right:auto; text-align:center;
    margin-left:auto;margin-top:50px;min-height:305px;">
<a href="http://AerisInsight.com">
    <img src="${logo }" style="width:400px; height:30px; margin:12px; padding:0px; border:0px;"/>  	</a>
  	
					
	    <c:if test="${not empty param.error}">
	       <c:set var="error" value="${param.error }"/>
	    </c:if>	
			
	    <c:if test="${not empty error}">	
            <div class="ui-widget">
	            <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"><!-- holder --></span>
		            <strong>Error:</strong> ${error }</p>
	            </div>
            </div>		
        </c:if>	
       
	    <c:if test="${not empty param.notice}">
	       <c:set var="notice" value="${param.notice }"/>
	    </c:if>
	            			
	    <c:if test="${not empty notice}">
            <div class="ui-widget">
	            <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
		            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"><!-- holder --></span>
		            <strong>Notice:</strong> ${notice }</p>
	            </div>
            </div>		
        </c:if>	


  	
  	    <tiles:insertAttribute name="body"/> 
  	    
  	    
  </div> <!--  white box -->
  
  <div class="footertext" style="padding:0px;width:550px;align:center;margin-right:auto;
	margin-left:auto;">
  	<span> 
	 <span style="float: left;">&#169;2014 Aeris
			All Rights Reserved.</span><span style="float: right;">Funded by the <a href="http://www.citigroup.com/citi/foundation/" target="_new">Citi
			Foundation</a>.</span>
	</span>
  
  </div>  	    
  	    
  	    
  	    
	</body>
</html>
