<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:form="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<spring:url var="getFormulas" value="/graphs/${graph.id}/equations"></spring:url>
	<spring:url var="getGlobalCDFIFormulas" value="/formulas/getGlobalCDFIFormulas"></spring:url>
	<spring:url var="getGlobalFormulas" value="/formulas/getGlobalFormulas" />
	<spring:url var="overrideEquation" value="/formulas/" />
	<spring:url var="setEquations" value="/graphs/${graph.id}/equations" />
	<spring:url var="images" value="/resources/images/" />	
	<spring:url var="extjs" value="/lib/ext-4.1.1a/ext-all.js" />
	<spring:url var="extjscss" value="/lib/ext-4.1.1a/resources/css/ext-all-scoped.css" />
	<spring:url var="customtableCSS" value="/styles/customtable.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="${extjscss}" />
	<link rel="stylesheet" type="text/css" media="screen" href="${customtableCSS}" />
	<script type="text/javascript" src="${extjs}"><!-- required for FF3 and Opera --></script>
	<style>
label {
	width: 160px;
}

.dijitTextArea {
	min-height: 5.5em !important;
	max-height: 22em !important;
	overflow-y: auto !important;
	max-width: 600px;
	font-size: 14px;
}

sup {
	vertical-align: super;
}

.x-grid-table .shaded-col {
	background: #eee;
}
#carsmain { width: 970px;}	
#wrapper { background-color: #E4E4E4!important; }

</style>
<c:if test="${graph.company==null}">
	<c:set var="isGlobal" value="true" />
</c:if> 
<script>
<c:choose>
<c:when test="${isGlobal==true}">
	var companyId = "";
</c:when>
<c:otherwise>
	var companyId = ${graph.company.id};
</c:otherwise>
</c:choose>


<![CDATA[  
Ext.scopeResetCSS = true;
$(function() {
	$.editMode(null, { imagesUrl: "${images}"});
	
	var dataSource;
	var columns;
	var store;
	var fields;
	
	
	$("#editModeBtn").click(function() {
		
		$.ajax({
			url : "${getFormulas}",
			cache : false,
			dataType : 'json',
			type: 'get',
			async : true,
			global: true,
			success : function(data) {					
				renderEditMode(data);
				showEditMode();
			},
			error : function(request, status, error) {			
				alert(error.message);
			}
		});
	});	
	
	function renderEditMode(data) {
		columns = new Array();
		columns.push({ 
			   text : "",
			   sortable : false,
			   dataIndex : "name"
		});
		fields = new Array();
		fields.push("name");
		fields.push("rowInfo");
	    dataSource = new Array();
		var x=0;
		var y=0;
		if (data == null || data.length==0) {
			dataSource[x] = new Array(fields.length);
		}
		else {
			for (var i=0; i<data.length; i++) {
				dataSource[x] = new Array(2);
				dataSource[x][0] = data[i].name;
				dataSource[x++][1] = {name: data[i].name, formula: data[i].formula, isCategory : false, id : data[i].id, isGlobal : data[i].global, isOverride : data[i].override, 
						decimalPlaces: data[i].decimalPlaces, unitType: data[i].unitType, isSmallerBetter: data[i].isSmallBetter, definition: data[i].definition};
			}
			dataSource[x] = new Array(fields.length);
		}
		
		store = Ext.create('Ext.data.ArrayStore', {
       		fields: fields,
       		data: dataSource
    	}); 	
	}
	
	function showEditMode() {
		var isGlobal = ${isGlobal==true};
		
		$("#editMode-popup").editMode('show', { 
			isGlobalEdit : isGlobal,
        	data : dataSource,
        	readonlyStore: store,
        	columns: columns,
        	fields: fields,
        	pageIndex: 0,
        	companyId: companyId,
        	isGraph: true,
        	existingEquationsUrl: isGlobal ? "${getGlobalCDFIFormulas}/0" : "${getGlobalCDFIFormulas}/" + companyId,
        	globalEquationsUrl: '${getGlobalFormulas}',
        	overrideEquationUrl: '${overrideEquation}',
        	sortEquationsUrl: "${setEquations}",
			onSortComplete: function() {
			}
    	 });
	}
	
});		
]]>
    
</script>

	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx" />
	<br/>
	<a href="#" id="editModeBtn" class="greenButton" style="width: 150px; margin-top: 10px; margin-bottom:20px;">Manage Formulas</a>
	<form:update id="fu_com_cars_platform_domain_Graph"
		modelAttribute="graph" path="/graphs" versionField="Version"
		z="mYgcO+LuAAuW0UDN3tKmg+S5VJQ=">
		<field:input field="title" id="c_com_cars_platform_domain_Graph_title"
			z="k+SP2TRAVRbwtF+rKME7e5P5yOY=" />			
		<field:input field="code" id="c_com_cars_platform_domain_Graph_code"
			z="/5/B2ojSkcE+pOZDfJb0I8mklqY=" />
			
		<field:select field="graphType"
			id="c_com_cars_platform_domain_Graph_graphType" items="${graphtypes}"
			path="graphtypes" z="kGUuycmj0EHBv1aHKBnBKNOFEkU=" />
		<field:select field="unitType"
			id="c_com_cars_platform_domain_Graph_unitType" items="${unittypes}"
			path="unittypes" z="XgIFjPck6FFDtZ1X8g6mvxVr3OQ=" />
		<field:checkbox field="showInterim"
			id="c_com_cars_platform_domain_Graph_showInterim" />
		<field:select field="showYears"
			id="c_com_cars_platform_domain_Graph_showYears" items="${showYears}"
			itemLabel="label" itemValue="count" path="showYears" z="" />
		<field:select field="company"
			id="c_com_cars_platform_domain_Graph_company" itemLabel="name"
			itemValue="id" items="${companys}" path="/companys" z="user-managed" />
		<field:textarea field="notes" id="c_com_cars_platform_domain_Graph_notes"
			cols="60" z="user_managed" />
	</form:update>
	<tiles:insertTemplate template="/WEB-INF/views/editformula.jspx" />
</div>
