<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:sform="http://www.springframework.org/tags/form"
	xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

  <h4>${document.documentType.name }</h4>
  
  <style>
  label {
  width: 350px;
   float: left;
   margin-left: 5px;
   margin-top: 0px;
   }
   
   #carsMain{
   	max-width: 722px;
   }
  
  </style>
  
  		<sform:form commandName="document">
		   
  		   <div>
  		     <sform:checkbox path="allAnalysts" id="allAnalysts"/>
  		     <label for="allAnalysts">AERIS</label>
  		   </div>
  		   
  		   <div>
  		     <sform:checkbox path="allSubscribers" id="allSubscribers"/>
  		     <label for="allSubscribers">All Viewers</label>
  		   </div>		     		 
   		   <sform:checkboxes items="${subscribers}" element="div" path="authorizedSubscribers" itemValue="id" itemLabel="name"/><br/>

           <sform:hidden path="id"/>
           
           <br />
           
           <input type="submit" value="SAVE" class="greenButton" />

  		</sform:form>
	
</div>