<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <c:if test="${(review.reviewType=='ANNUAL_RATING')}">
        <h2>Update a Full Rating Review</h2>
    </c:if>
    <c:if test="${(review.reviewType=='ANNUAL')}">
        <h2>Update an Annual Review</h2>
    </c:if>
    <br/>
    <form:update id="fu_com_cars_platform_domain_Review" modelAttribute="review" path="/reviews" versionField="Version" z="itAJu7dcL9CYwO1o34cDa76BrEg=">
        <field:select field="company" id="c_com_cars_platform_domain_Review_company" itemLabel="name" itemValue="id" items="${companys}" path="/companys" z="user-managed"/>
        <field:select field="reviewType" id="c_com_cars_platform_domain_Review_reviewType" items="${reviewtypes}" path="reviewtypes" z="edA0xofjyfwHE5NdX9cEICnWiDw="/>
        <field:select field="year" id="c_com_cars_platform_domain_Review_year" itemLabel="name" itemValue="value" items="${years}" path="/years" required="true" z="user-managed"/>
        <field:select field="quarter" id="c_com_cars_platform_domain_Review_quarter" itemLabel="name" itemValue="value" items="${quarters}" path="/quarters" required="true" z="user-managed"/>
        <field:checkbox field="skipNotification" id="c_com_cars_platform_domain_Review_skipNotification" z="RhqXbqLjYhztCuaKuciDvr3am64="/>
        <field:datetime dateTimePattern="${review_dateofanalysis_date_format}" field="dateOfAnalysis" id="c_com_cars_platform_domain_Review_dateOfAnalysis" required="true" z="5+Qzv+4ijpIp2fjARTWsQupzijE="/>
        <field:select field="impactPerformance" id="c_com_cars_platform_domain_Review_impactPerformance" items="${impacts}" path="impacts" z="user-managed"/>
        <c:if test="${(review.reviewType=='ANNUAL_RATING')}">
            <field:checkbox field="policyPlus" id="c_com_cars_platform_domain_Review_policyPlus" z="SS+X6hfAPnKF/UPCxvBDARu66sc="/>
        </c:if>
        <field:select field="financialStrength" id="c_com_cars_platform_domain_Review_financialStrength" items="${strengths}" path="strengths" z="user-managed"/>
    </form:update>
</div>
