<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

  <spring:message code="password_change_title" var="title" htmlEscape="false" />


	<div>
		<h1>${fn:toUpperCase(title)}</h1>
		<hr />

    <c:if test="${not empty passwordChangeError}">
      <div class="errors">
        <p>
          <spring:message code="password_change_unsuccessful" /><c:out value="${passwordChangeError}" />
          .
        </p>
      </div>
    </c:if>
    <c:if test="${empty passwordChangeError}">
      <p>
        <spring:message code="password_change_message" />
      </p>
    </c:if>
    <spring:url value="/password" var="form_url" />
    <form name="f" action="${fn:escapeXml(form_url)}" method="POST">
      <input id="username" type="hidden" name="username" value="${pageContext.request.userPrincipal.name}"/>
      <div>
        <label for="oldPassword">
          <spring:message code="password_change_form_name" />
        </label>
        <input id="oldPassword" type='password' name='oldPassword' style="width:150px" />
        <spring:message code="password_change_form_name_message" var="name_msg" htmlEscape="false" />
        <script type="text/javascript">
          <c:set var="sec_name_msg">
            <spring:escapeBody javaScriptEscape="true">${name_msg}</spring:escapeBody>
          </c:set>
          Spring.addDecoration(new Spring.ElementDecoration({elementId : "oldPassword", widgetType : "dijit.form.ValidationTextBox", widgetAttrs : {promptMessage: "${sec_name_msg}", required : true}})); 
        </script>
      </div>
      <br />
      <div>
        <label for="newPassword">
          <spring:message code="password_change_form_password" />
        </label>
        <input id="newPassword" type='password' name='newPassword' style="width:150px" />
        <spring:message code="password_change_form_password_message" var="pwd_msg" htmlEscape="false" />
        <script type="text/javascript">
          <c:set var="sec_pwd_msg">
            <spring:escapeBody javaScriptEscape="true">${pwd_msg}</spring:escapeBody>
          </c:set>
          Spring.addDecoration(new Spring.ElementDecoration({elementId : "newPassword", widgetType : "dijit.form.ValidationTextBox", widgetAttrs : {promptMessage: "${sec_pwd_msg}", required : true}})); 
        </script>
      </div>
      <br />
      
      <div>
        <label for="confirmPassword">
          <spring:message code="password_change_form_confirm" />
        </label>
        <input id="confirmPassword" type='password' name='confirmPassword' style="width:150px" />
        <spring:message code="password_change_form_confirm_message" var="pwd_msg" htmlEscape="false" />
        <script type="text/javascript">
          <c:set var="sec_pwd_msg">
            <spring:escapeBody javaScriptEscape="true">${pwd_msg}</spring:escapeBody>
          </c:set>
          Spring.addDecoration(new Spring.ElementDecoration({elementId : "confirmPassword", widgetType : "dijit.form.ValidationTextBox", widgetAttrs : {promptMessage: "${sec_pwd_msg}", required : true}})); 
        </script>
      </div>
      <br />      
      
      
      <div class="submit">
        <script type="text/javascript">Spring.addDecoration(new Spring.ValidateAllDecoration({elementId:'proceed', event:'onclick'}));</script>
        <spring:message code="button_update" var="submit_label" htmlEscape="false" />
        <input id="proceed" type="submit" value="${fn:escapeXml(submit_label)}" class="greenButton" />
        <spring:message code="button_reset" var="reset_label" htmlEscape="false" />
        <input id="reset" type="reset" value="${fn:escapeXml(reset_label)}" />
      </div> 
    </form>
  </div>
</div>

