<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields"
	xmlns:form="urn:jsptagdir:/WEB-INF/tags/form"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	<script>
	dojo.addOnLoad(function(){
		var annualIfAvailableID = dijit.byId("_annualIfAvailable_id");
		dojo.connect(annualIfAvailableID, "onClick", function(evt){
			dijit.byId("_annual_id").set('checked', false);
			dijit.byId("_full_id").set('checked', false);
		});
		var annualID = dijit.byId("_annual_id");
		dojo.connect(annualID, "onClick", function(evt){
			dijit.byId("_annualIfAvailable_id").set('checked', false);
			dijit.byId("_full_id").set('checked', false);
		});
		var fullID = dijit.byId("_full_id");
		dojo.connect(fullID, "onClick", function(evt){
			dijit.byId("_annualIfAvailable_id").set('checked', false);
			dijit.byId("_annual_id").set('checked', false);
		});
	});       
	</script>
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	<tiles:insertTemplate template="/WEB-INF/views/nav/managementnav.jspx"/><br/>
	<form:update id="fu_com_cars_platform_domain_DocumentTypeCompany"
		modelAttribute="documentTypeCompany" path="/documenttypes/company"
		versionField="Version" z="user-managed">
		<field:checkbox field="quarterly"
			id="c_com_cars_platform_domain_DocumentType_quarterly"
			z="user-managed" />
		<field:radiobutton field="full"
			id="c_com_cars_platform_domain_DocumentType_full"
			z="user-managed" />
		<field:radiobutton field="annual"
			id="c_com_cars_platform_domain_DocumentType_annual"
			z="user-managed" />
		<field:radiobutton field="annualIfAvailable"
			id="c_com_cars_platform_domain_DocumentType_annualIfAvailable"
			z="user-managed" />
	    <field:select field="company" id="c_com_cars_platform_domain_DocumentTypeCompany_company"
	        itemValue="id"
	        itemLabel="name" 
	        items="${companys}"
	        path="/companys"
	        required="true"
	        render="true"
	        z="user-managed"/>		
	    <field:select field="documentType" id="c_com_cars_platform_domain_DocumentTypeCompany_documentType"
	        itemValue="id"
	        itemLabel="name" 
	        items="${documentTypes}"
	        path="/documenttypes"
	        required="true"
	        render="true"
	        z="user-managed"/>		
	</form:update>
</div>
